<div class="row">
    <div class="col-md-12">
        <iframe class="ads-iframe-search" ng-src="{{ adsIframeSrc }}"></iframe>
    </div>
</div>

<div class="row">
    <div class="sidebar-nav col-md-3">
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="visible-xs navbar-brand">Search</span>
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="advanced-search-searchtext-title">Search</div>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" ng-submit="updateSearchTextValue(searchtext)">
                                <input type="search" class="form-control" ng-model="searchtext" placeholder="Search products...">
                                <div class="input-group pull-right">
                                    <button class="btn pull-right advanced-search-searchtext-btn" type="submit">Search</button>
                                    <div ng-click="resetProducts()" class="text-center pull-right advanced-search-reset-button">Reset</div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOrderby">
                            <div class="advanced-search-category-title">Order by</div>
                            <span class="pull-right advanced-search-collapse"><i ng-hide="orderbyCollapse" ng-click="orderbyCollapse = true" ng-model="orderbyCollapse" class="glyphicon glyphicon-chevron-up" data-toggle="collapse" href="#collapseOrderby" aria-expanded="true" aria-controls="collapseOrderby"></i></span>
                            <span class="pull-right advanced-search-collapse"><i ng-show="orderbyCollapse" ng-click="orderbyCollapse = false" ng-model="orderbyCollapse" class="glyphicon glyphicon-chevron-down" data-toggle="collapse" href="#collapseOrderby" aria-expanded="true" aria-controls="collapseOrderby"></i></span>
                        </div>
                        <div class="panel-collapse collapse in no-padding" id="collapseOrderby" role="tabpanel" aria-labelledby="headingOrderby">
                            <div class="panel-body">
                                <span>
                                    <select class="form-control advanced-search-sidebar-data" ng-model="orderby" ng-selected="updateOrderby(orderby)">
                                        <option value="salesrank">Popular and salesrank</option>
                                        <option value="price">Price: low to high</option>
                                        <option value="-price">Price: high to low</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingCategory">
                            <div class="advanced-search-category-title">Subcategory</div>
                            <span class="pull-right advanced-search-collapse"><i ng-hide="categoryCollapse" ng-click="categoryCollapse = true" ng-model="categoryCollapse" class="glyphicon glyphicon-chevron-up" data-toggle="collapse" href="#collapseCategory" aria-expanded="true" aria-controls="collapseCategory"></i></span>
                            <span class="pull-right advanced-search-collapse"><i ng-show="categoryCollapse" ng-click="categoryCollapse = false" ng-model="categoryCollapse" class="glyphicon glyphicon-chevron-down" data-toggle="collapse" href="#collapseCategory" aria-expanded="true" aria-controls="collapseCategory"></i></span>
                        </div>
                        <div class="panel-collapse collapse in no-padding" id="collapseCategory" role="tabpanel" aria-labelledby="headingCategory">
                            <div class="panel-body">
                                <span ng-repeat="subcategory in allowedSubcategories| orderBy: 'name'">
                                    <input type="checkbox" ng-change="checkedSubcategory(subcategory.searchName)"
                                           value="{{subcategory.name}}"
                                           ng-model="subcategory.selected" /><span class="advanced-search-sidebar-data"> {{ subcategory.name }}</span><br />
                                </span>
                            </div>
                        </div>
                    </div>                 
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingBrands">
                            <div class="advanced-search-category-title">Brands</div>
                            <span class="pull-right advanced-search-collapse"><i ng-hide="brandsCollapse" ng-click="brandsCollapse = true" ng-model="brandsCollapse" class="glyphicon glyphicon-chevron-up" data-toggle="collapse" href="#collapseBrands" aria-expanded="true" aria-controls="collapseBrands"></i></span>
                            <span class="pull-right advanced-search-collapse"><i ng-show="brandsCollapse" ng-click="brandsCollapse = false" ng-model="brandsCollapse" class="glyphicon glyphicon-chevron-down" data-toggle="collapse" href="#collapseBrands" aria-expanded="true" aria-controls="collapseBrands"></i></span>
                        </div>
                        <div class="panel-collapse collapse in no-padding" id="collapseBrands" role="tabpanel" aria-labelledby="headingBrands">
                            <div class="panel-body advanced-search-brand-panel-body">
                                <span ng-repeat="brand in brands | orderBy: 'name'">
                                    <input type="checkbox" ng-change="checkedBrand(brand.name)"
                                           value="{{brand.name}}"
                                           ng-model="brand.selected" /><span class="advanced-search-sidebar-data"> {{ brand.name }}</span><br />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="advanced-search-price-range-title">Price range</div>
                        </div>
                        <div class="panel-body">
                            <alert ng-show="priceError" type="danger" close="closePriceError()">{{ priceError }}</alert> 
                            <form class="form-horizontal" ng-submit="updatePrice(minPrice, maxPrice)">
                                <div class="form-group-sm">
                                    <input type="number" min="0" class="form-control text-center" ng-model="minPrice">
                                    <div class="text-center advanced-search-price-range-to">to</div>
                                    <input type="number" min="1" class="form-control text-center" ng-model="maxPrice">
                                </div>
                                <div class="input-group pull-right">
                                    <button class="btn pull-right advanced-search-searchtext-btn" type="submit">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9" itemscope itemtype="http://schema.org/ItemList">
        <div class="col-md-12">
            <div class="text-center">
                <dir-pagination-controls template-url="libs/angular-utils-pagination/dirPagination.tpl.html">
                </dir-pagination-controls>
            </div>
        </div>
        <div ng-show="noResult" class="col-md-12 text-center">
            <div class="advanced-search-no-result">No results. Try again.</div>
        </div>
        <div ng-show="loading" class="col-md-12">
            <div class="text-center advanced-search-loading-div">
                <img class="img-responsive advanced-search-loading-img" src="content/images/ajax-loader.gif" alt="loading" />
            </div>
        </div>

        <div class="col-md-3 col-xs-6"
             dir-paginate="product in products | itemsPerPage: 24" total-items="totalProducts" current-page="currentPage">
            <div class="panel panel-default sample-product-panel" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                <!--meta tags-->
                <meta itemprop="name" content="{{ product.title }}" />
                <meta itemprop="description" content="{{ removeHtmlTags(product.editorialreviews[0]) }}" />
                <div itemprop="brand" itemscope itemtype="http://schema.org/Organization">
                    <meta itemprop="name" content="{{ product.brand }}" />
                </div>
                <div itemprop="manufacturer" itemscope itemtype="http://schema.org/Organization">
                    <meta itemprop="name" content="{{ product.brand }}" />
                </div>
                <meta itemprop="productID" content="{{ product.asin }}" />
                <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <meta itemprop="priceCurrency" content="USD" />
                    <meta itemprop="price" content="{{ formatPrice(product.price) }}" />
                    <meta itemprop="category" content="{{ product.category }}" />
                    <link itemprop="availability" itemtype="http://schema.org/InStock" content="In Stock" />
                    <link itemprop="itemCondition" itemtype="http://schema.org/NewCondition" content="New" />
                </div>
                <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                    <meta itemprop="ratingValue" content="4.7" />
                    <meta itemprop="reviewCount" content="{{ product.salesrank }}" />
                </div>
                <link itemprop="releaseDate" itemtype="http://schema.org/Date" content="{{ product.dateAdded | date:'yyyy-MM-dd' }}" />
                <!--end meta tags-->
                <a ui-sref="electronicsProduct({id:product._id, slug:product.slug})" itemprop="url" class="sample-product-a">
                    <div class="panel-body">
                        <div>
                            <div ng-show="calculateDiscount(product.price, product.oldprice)" class="pull-right sample-product-sale-tag" ng-bind="calculateDiscount(product.price, product.oldprice)"></div>
                        </div>
                        <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                            <img class="img-responsive sample-product-img" ng-src="{{ product.images[0] }}" alt="{{ product.slug }}" itemprop="contentUrl" />
                            <meta itemprop="name" content="{{ product.title }}" />
                        </div>
                    </div>
                    <div class="panel-footer">
                        <h4 class="sample-product-title" ng-bind="product.title"></h4>
                        <div>
                            <div class="sample-product-old-price" ng-bind="formatOldPrice(product.price, product.oldprice)"></div>
                            <div class="sample-product-price"><b ng-bind="formatPrice(product.price)"></b></div>
                            <div class="sample-product-amazon-div"><img class="img-responsive sample-product-amazon-img" src="content/images/amazon-small-logo.jpg" alt="{{ 'amazon' + $index }}" /></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-12 col-xs-12">
            <div class="text-center">
                <dir-pagination-controls on-page-change="pageChangeHandler(newPageNumber)" template-url="libs/angular-utils-pagination/dirPagination.tpl.html">
                </dir-pagination-controls>
            </div>
        </div>
    </div>

</div>


